@{
    ViewData["Title"] = "Home Page";
}


<div class="TextMain">
    <h1 class="TextMainItemH">Hello, dear user!</h1>
    <p class="TextMainItemP">This is my own created minimizer for boolean functions! Am I right, that process of minimization is difficult and takes so much time? Can`t find a minimizer because all of them incomprehensible? You on the right way!</p>
    <p class="TextMainItemP">My tool may help you to minimize functions used in computer logic and schemotechnic in few seconds. Just put your function in comfort to you form and let's go :)</p>
    <p class="TextMainItemP">The algorythm used here is adapted Kvain minimization algorythm, this tool can minimize functions less that 20 signals! Make sure that you put a correct data in it, otherwise it can`t do anything. Read a tips for use in every step. Make you work faster^^</p>
    <p class="TextMainItemP">Please, choose a form of putting function in the minimizer. Table form will create a full signals combinations table, vector form will ask you to print a numbers of signal sets DDNF-form of function</p>
</div>
<div class="ButtonsChoose">
    <button class="Button"><a class="Button" asp-action="table">Table Form</a></button>
    <button class="Button"><a class="Button" asp-action="vector">Vector Form</a></button>
</div>