@model WebApplication1.Models.TableModel;
@{
    ViewData["Title"] = "Table";
}


<link rel="stylesheet" href="~/css/table.css">

<h1 class="TextMainItemH">Table input page</h1>


<form class="TableForm" method="POST" asp-action="CreateTable">
    
    <p class="TextMainItemP">There are a field to print a signals number(less that 20) and press a button ``CREATE``</p>
    <p class="TextMainItemP">Tool will create a full-table for this signals numbers and you may to edit a function with printing a 0 or 1</p>
    <p class="TextMainItemP">After entering, please, press a button down the page. Make sure that your table has only a correct data! You can delete some sets, but don`t damage it`s form!</p>
    
    
    <div class="InputsBlock">
        <div class="LineAndButton">
            @Html.TextBoxFor(m => m.Size, new {@class = "UserInput1", type="number", placeholder="N"})
            <button class="ButtonT" type="submit">Create table</button>
        </div>
    </div>
</form>